{% extends 'about.html' %}
{% load static %}
{% block content %}


    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Address</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Address</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->



        <!-- dashboard  start -->


        <section class="dashboard">
            <div class="container">
                <div class="row">

                    {% include 'dashboard-main.html' %}

                    <div class="col-lg-9 col-md-8">


                        <div class="dashboard-item-taitel">
                            <h4>Addresse</h4>
                            <p>Ajouter une nouvelle addresse</p>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="shopping-cart-new-address-from">
                                    <div class="shopping-cart-new-address-from-item">
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput12"
                                                placeholder="First Name">
                                        </div>
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput6"
                                                placeholder="Last  Name">
                                        </div>
                                    </div>
                                    <div class="shopping-cart-new-address-from-item">
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput7"
                                                placeholder="First Name">
                                        </div>
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput8"
                                                placeholder="Last  Name">
                                        </div>
                                    </div>
                                    <div class="shopping-cart-new-address-from-item">
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label for="exampleFormControlInput1" class="form-label">Country</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">Bangladesh</option>
                                                <option value="2">India</option>
                                                <option value="3">Usa</option>
                                            </select>
                                        </div>
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label class="form-label">State</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">State</option>

                                                <option value="2">India</option>
                                                <option value="3">Usa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="shopping-cart-new-address-from-item">
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label class="form-label">City</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">City</option>
                                                <option value="2">Dhaka</option>
                                                <option value="3">Usa</option>
                                            </select>
                                        </div>
                                        <div class="shopping-cart-new-address-from-inner">
                                            <label class="form-label">Address</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput11"
                                                placeholder="Address">
                                        </div>
                                    </div>



                                    <div class="shopping-cart-new-address-from-btn">
                                        <div class="check-btn">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Home
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault1">
                                                <label class="form-check-label" for="flexCheckDefault1">
                                                    Office
                                                </label>
                                            </div>
                                        </div>

                                        <div class="check-btn-two">
                                            <a href="#" class="main-btn-four">Updated</a>
                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>

                        <div class="row dashboard-item-address">
                            <div class="col-lg-6">

                                <div class="shopping-cart-address-one">

                                    <div class="shopping-cart-address-one-item">
                                        <div class="text">
                                            <h4>Address #2</h4>
                                        </div>
                                        <div class="delet-btn">
                                            <a href="#">
                                                <span>
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M5 8V18C5 20.2091 6.79086 22 9 22H15C17.2091 22 19 20.2091 19 18V8M14 11V17M10 11L10 17M16 5L14.5937 2.8906C14.2228 2.3342 13.5983 2 12.9296 2H11.0704C10.4017 2 9.7772 2.3342 9.40627 2.8906L8 5M16 5H8M16 5H21M8 5H3"
                                                            stroke="#F01543" stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>


                                    <address>Full Name :<b>Jost Batler</b>
                                        <br>Email :
                                        <a href="mailto:jostbatler@gmail.com"><b>jostbatler@gmail.com</b></a>
                                        <br>Phone
                                        <a href="tel:+17077970462"><b>+228 22 55 69 48</b>
                                        </a>

                                        <br>Country :
                                        <a href="#"><b>Bangladesh</b></a>
                                        <br>State :
                                        <a href="#"><b>Dhaka</b></a>
                                        <br>City :
                                        <a href="#"><b>Dhaka</b></a>
                                        <br>Address :
                                        <a href="#"> <b>Mirpur-11, Dhaka, Bangladesh</b></a>
                                    </address>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="shopping-cart-address-one shopping-cart-address-two  ">

                                    <div class="shopping-cart-address-one-item">
                                        <div class="text">
                                            <h4>Address #1</h4>
                                        </div>
                                        <div class="delet-btn">
                                            <a href="#">
                                                <span>
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M5 8V18C5 20.2091 6.79086 22 9 22H15C17.2091 22 19 20.2091 19 18V8M14 11V17M10 11L10 17M16 5L14.5937 2.8906C14.2228 2.3342 13.5983 2 12.9296 2H11.0704C10.4017 2 9.7772 2.3342 9.40627 2.8906L8 5M16 5H8M16 5H21M8 5H3"
                                                            stroke="#F01543" stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>


                                    <address>Full Name :<b>Jost Batler</b>
                                        <br>Email :
                                        <a href="mailto:jostbatler@gmail.com"><b>jostbatler@gmail.com</b></a>
                                        <br>Phone
                                        <a href="tel:+18040005262"><b> +1 804 000 5262</b>
                                        </a>

                                        <br>Country :
                                        <a href="#"><b>Bangladesh</b></a>
                                        <br>State :
                                        <a href="#"><b> Narayanganj</b></a>
                                        <br>City :
                                        <a href="#"><b> Narayanganj</b></a>
                                        <br>Address :
                                        <a href="#"> <b>Rupganj-1460, Narayanganj </b></a>
                                    </address>
                                </div>
                            </div>
                        </div>







                    </div>




                </div>
            </div>
        </section>



        <!-- dashboard end  -->















        <!-- Restaurant part-start -->

        <section class="restaurant">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="restaurant-taitel">
                            <h2>Find out Better Restaurant Food Experience</h2>

                            <h4>We've done it carefully and simply. Combined with the ingredients makes for beautiful
                                landings.</h4>
                        </div>

                        <div class="restaurant-taitel-btn">
                            <a href="#"> <span>
                                    <img src="./assets/images/icon/Google_Play.png" alt="icon">
                                </span> Google Play</a>
                            <a href="#" class=" restaurant-taitel-btn-two"> <span>
                                    <img src="./assets/images/icon/apple.png" alt="icon">
                                </span> Google Play</a>
                        </div>
                    </div>


                    <div class="col-lg-6" data-aos="fade-left">
                        <div class="restaurant-img-main">
                            <div class="restaurant-img">
                                <img src="./assets/images/thumb/restaurant.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Restaurant part-end -->



    </main>
{% endblock %}