{% extends 'about.html' %}
{% load static %}
{% block content %}

    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Découvrez Nos Evènements</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Evènements</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->



        <!-- Food Details part start  -->


        <section class="food-details   ">
            <div class="container">


                


                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">

                                <div class="row">
                                    {% for event in events %}
                                    <div class="col-lg-4 col-md-6 ">
                                        <div class="featured-item  ">
                                            
                                            <div class="featured-item-img">
                                                <img src="{{ event.image.url }}" class="w-100"
                                                    alt="featured-thumb">

                                                <div class="featured-item-img-overlay">
                                                    <div class="featured-item-img-over-text">
                                                        <div class="left-text">
                                                            
                                                        </div>
                                                        <div class="right-text">
                                                            <h5>{{ event.created_at|date:"d/m/Y" }} </h5>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="featured-item-text">
                                                <div class="text-item">
                                                    <div class="left">
                                                        <h3>{{ event.title }}</h3>
                                                    </div>
                                                    
                                                </div>

                                                

                                                <div class="text-item-center-item-box">
                                                    <div class="text-item-center-item">
                                                        

                                                        <div class="text">
                                                            <h5>{{ event.content|truncatewords:20 }}</h5>
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="featured-item-btn">
                                                        <a href="{% url 'core:event_detail' event.id %}" class="main-btn-three">
                                                            
                                                            Détails
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    
                                   
                                    
                                </div>



                            </div>





                            
                        </div>
                    </div>
                </div>

                
            </div>





        </section>




        <!-- Food Details part end  -->



        {% endblock %}