{% extends 'about.html' %}
{% load static %}
{% block content %}


<div class="inner-banner">
    <div class="container">
        <div class="row  ">
            <div class="col-lg-12">
                <div class="inner-banner-head">
                    <h1>Statut du paiement: {{ payment_status }}</h1>
                </div>

                <div class="inner-banner-item">
                    <div class="left">
                        {% if payment_status == "Success" %}
                        <span>Votre paiement a été effectué avec succès !</span>
                        {% elif payment_status == "Failed" %}
                            <span>Le paiement a échoué. Veuillez réessayer.</span>
                        {% else %}
                            <span>Le paiement est en attente. Veuillez réessayer.</span>
                        {% endif %}
                    </div>
                    
                    <div class="left">
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
