{% extends 'about.html' %}
{% load static %}
{% block content %}


<div class="inner-banner">
    <div class="container">
        <div class="row  ">
            <div class="col-lg-12">
                <div class="inner-banner-head">
                    <h1>{{ payment_status }}</h1>
                </div>

                <div class="inner-banner-item">
                    {% if payment_status == "FAILED" %}
                    <div class="left">
                        <a href="{% url 'core:checkout' %}" class="main-btn-six">Reprendre le paiement</a>
                    </div>
                    {% endif %}
                    leerr
                    <div class="left">
                        <a href="{% url 'core:dashboard' %}" class="main-btn-six">Mon Tableau De Bord</a>
                    </div>
                    lerrr
                    <div class="left">
                        <a href="{% url 'core:product-list' %}" class="main-btn-six">Menu</a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
