{% extends 'about.html' %}
{% load static %}
{% block content %}

    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Politique de Confidentialité</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Politique de Confidentialité</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->

        <!-- Privacy & Policy start  -->


        <section class="privacy s-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>1. Introduction</h3>

                                <ul>La présente Politique de Confidentialité décrit la manière dont RGM Food collecte, utilise, stocke et protège les informations personnelles que vous fournissez lors de l'utilisation de nos services, que ce soit en ligne, par téléphone ou en personne. Nous nous engageons à respecter et protéger votre vie privée conformément aux lois en vigueur au Togo.
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>2. Collecte des Données Personnelles</h3>

                                <ul>
                                    Nous collectons les informations personnelles suivantes lorsque vous passez commande ou interagissez avec nos services: <br><br>
                                    <li><b>Informations de contact:</b> nom, numéro de téléphone, adresse email, adresse de livraison.</li>
                                    <li><b>Informations de paiement:</b> détails de carte bancaire, modes de paiement électroniques (ces informations sont traitées de manière sécurisée).</li>
                                    <li><b>Informations sur les commandes:</b> historique de vos commandes, préférences alimentaires, et autres informations liées à l'utilisation de nos services.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>3. Utilisation des Données Personnelles</h3>

                                <ul>
                                    Les informations collectées sont utilisées pour: <br> <br>
                                    <li>Traiter et livrer vos commandes.</li>
                                    <li>Gérer votre compte et historique de commandes.</li>
                                    <li>Vous envoyer des communications marketing, avec votre consentement</li>
                                    <li>Améliorer nos services et personnaliser votre expérience utilisateur.</li>
                                    <li>Respecter les obligations légales et réglementaires.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>4. Partage des Données avec des Tiers</h3>

                                <ul>
                                    Vos informations personnelles ne sont jamais vendues ou louées à des tiers. Nous pouvons cependant partager vos données avec: <br><br>
                                    <li><b>Fournisseurs de services:</b> prestataires logistiques (livraison), services de paiement sécurisés.</li>
                                    <li><b>Autorités légales:</b> lorsque cela est requis par la loi pour des enquêtes ou litiges. Toutes les tierces parties avec lesquelles nous travaillons sont tenues de respecter la confidentialité et la sécurité de vos données</li>

                                </ul>
                            </div>
                        </div>


                        <div class="privacy-text-main privacy-text-main-two ">
                            <div class="privacy-text-main-text">
                                <h3>5. Protection et Sécurité des Données</h3>

                                <ul>
                                    RGM Food met en place des mesures de sécurité techniques et organisationnelles pour protéger vos données personnelles contre l'accès non autorisé, la perte ou la divulgation. Cela inclut l'utilisation de systèmes de cryptage pour les transactions en ligne et un contrôle d'accès strict à nos bases de données.

                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main privacy-text-main-two ">
                            <div class="privacy-text-main-text">
                                <h3>6. Durée de Conservation des Données</h3>

                                <ul>
                                    Vos données personnelles sont conservées aussi longtemps que nécessaire pour la réalisation des objectifs pour lesquels elles ont été collectées (par exemple, traitement des commandes ou marketing) ou conformément aux exigences légales en matière de conservation des données. 
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main privacy-text-main-two ">
                            <div class="privacy-text-main-text">
                                <h3>7. Droits des Utilisateurs</h3>

                                <ul>
                                    Conformément aux lois en vigueur, vous disposez des droits suivants concernant vos données personnelles: <br><br>
                                    <li><b>Droit d'accès:</b> vous pouvez demander une copie des données que nous détenons à votre sujet.</li>
                                    <li><b>Droit de rectification:</b> vous pouvez demander la correction des informations inexactes ou incomplètes.</li>
                                    <li><b>Droit de suppression:</b> vous pouvez demander la suppression de vos données personnelles, sauf si nous devons les conserver pour des raisons légales ou commerciales.</li>
                                    <li><b>Droit d'opposition:</b> vous pouvez vous opposer à l'utilisation de vos données à des fins de marketing direct. Pour exercer ces droits, vous pouvez nous contacter via nos coordonnées fournies ci-dessous.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main privacy-text-main-two ">
                            <div class="privacy-text-main-text">
                                <h3>8. Cookies et Technologies Similaires</h3>

                                <ul>
                                    Notre site web utilise des cookies pour améliorer votre expérience utilisateur. Ces cookies nous aident à personnaliser le contenu et à analyser les performances de notre site. Vous pouvez gérer vos préférences de cookies via les paramètres de votre navigateur.
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main privacy-text-main-two ">
                            <div class="privacy-text-main-text">
                                <h3>9. Modifications de la Politique de Confidentialité</h3>

                                <ul>
                                    Nous nous réservons le droit de modifier cette politique à tout moment. Toute modification sera communiquée via notre site web ou d'autres moyens appropriés.                                 </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main privacy-text-main-two ">
                            <div class="privacy-text-main-text">
                                <h3>Contact: </h3>

                                <ul>
                                    Pour toute question relative à cette Politique de Confidentialité ou pour exercer vos droits, veuillez nous contacter à: <br><br>
                                    <li><b>Adresse:</b> RGM Food, Amadahome, en face de la Pharmacie Iris, Lomé, Togo</li>
                                    <li><b>Email: </b><a href="reception@rgmfood.com"> reception@rgmfood.com</a></li>
                                    <li><b>Appel direct:</b> + 228 71 78 66 66</li>
                                    <li><b>WhatsApp:</b>  + 228 71 78 66 66</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Privacy & Policy end  -->



    </main>

    {% endblock %}
    