<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4; /* Optional: background color for the page */
        }
        .success-message {
            text-align: center;
            color: #f7931e;
            font-family: Arial, sans-serif; /* Optional: font styling */
        }
    </style>
</head>
<body>
    <div class="success-message">
        <h1>Merci d'avoir enregistré votre numéro de téléphone!</h1>
    </div></body>
</html>
