{% extends 'about.html' %}
{% load static %}
{% block content %}

    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Trust & Safety</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Privacy & Policy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->

        <!-- Privacy & Policy start  -->


        <section class="privacy s-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="privacy-text">
                            <h4>Welcome to RGM Food! By accessing and using our website, services, and dining
                                experiences, you agree to abide by the following terms and conditions outlined in this
                                Terms of Service agreement. Please read these terms carefully before proceeding.</h4>
                        </div>

                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>Reservation and Dining Policies:</h3>

                                <ul>
                                    <li>All reservations are subject to availability and are confirmed on a first-come,
                                        first-served basis.</li>
                                    <li>We appreciate timely arrivals for reservations. If you are running late, please
                                        contact us to ensure we can accommodate your party.
                                    </li>
                                    <li>For cancellations or changes to reservations, please inform us at least [insert
                                        cancellation notice period, e.g., 24 hours] in advance.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>Website Usage:</h3>

                                <ul>
                                    <li>The content on our website is for informational purposes only and may be subject
                                        to change without notice.</li>
                                    <li>We strive to provide accurate and up-to-date information, but we do not
                                        guarantee the accuracy, completeness, or reliability of the content.
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>
                                    Payment and Transactions: </h3>

                                <ul>
                                    <li>For online orders or reservations, you may be required to provide payment
                                        information. By making a payment, you agree that you are authorized to use the
                                        provided payment method.
                                    </li>
                                    <li>All prices listed on our website are in [insert currency] and are subject to
                                        applicable taxes and fees.
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>Intellectual Property: </h3>

                                <ul>
                                    <li>
                                        The content, design, and graphics on our website are protected by copyright and
                                        other intellectual property laws. You may not reproduce, distribute, or use our
                                        content without prior written consent.
                                    </li>

                                </ul>
                            </div>
                        </div>


                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Limitation of Liability: </h3>

                                <ul>
                                    <li>
                                        We strive to provide a safe and enjoyable dining experience, but we are not
                                        liable for any personal injuries, property damage, or other liabilities that may
                                        occur during your visit.</li>
                                    <li>
                                        We are not responsible for any third-party websites linked to our site.
                                        Accessing such sites is at your own risk.</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Changes to Terms: </h3>

                                <ul>
                                    <li>

                                        We reserve the right to update or modify these Terms of Service at any time. The
                                        updated version will be posted on our website, and your continued use of our
                                        services implies your acceptance of the updated terms.</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Governing Law: </h3>

                                <ul>
                                    <li>

                                        This agreement is governed by the laws of [insert governing jurisdiction]. Any
                                        disputes shall be subject to the exclusive jurisdiction of the courts in [insert
                                        jurisdiction].</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main privacy-text-main-two  ">
                            <div class="privacy-text-main-text">
                                <h3>Contact: </h3>

                                <ul>
                                    <li>

                                        If you have any questions or concerns about our Terms of Service, please contact
                                        us at +228 22 55 69 48 or reception@rgmfood.com.
                                        Please customize this Terms of Service agreement to align with the specific
                                        practices and policies of your restaurant. It's recommended to seek legal advice
                                        to ensure compliance with relevant laws and regulations.</li>


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Privacy & Policy end  -->



    </main>
{% endblock %}