{% extends 'about.html' %}
{% load static %}
{% block content %}

    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Conditions Générales D'Utilisations</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Conditions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->

        <!-- Privacy & Policy start  -->


        <section class="privacy s-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="privacy-text">
                            <h4>Welcome to RGM Food! By accessing and using our website, services, and dining
                                experiences, you agree to abide by the following terms and conditions outlined in this
                                Terms of Service agreement. Please read these terms carefully before proceeding.</h4>
                        </div> -->

                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>1. Introduction</h3>

                                <ul>
                                    Les présentes Conditions Générales d'Utilisation (CGU) régissent l'accès et l'utilisation des services de RGM Food. En accédant ou en utilisant nos services, vous acceptez de vous conformer aux présentes CGU. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser nos services.
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>2. Présentation de RGM Food</h3>

                                <ul>
                                    RGM Food est une filiale de la société Rewards Global Market, située à Lomé, Togo, spécialisée dans l’aprovisionnement et exportation des matières premières agricoles. En s'appuyant sur notre expertise dans le commerce et notre engagement à offrir des produits de qualité, nous avons créé RGM Food pour répondre à la demande croissante de services alimentaires dans la région. <br><br>
                                    Situé à Amadahome, non-loin de la Pharmacie Iris, RGM Food propose une large gamme de plats, incluant une cuisine générale, du Fast food, de la pâtisseries, ainsi que des services de traiteur pour vos événements. Nos clients peuvent savourer nos plats sur place, commander à emporter, ou passer leurs commandes en ligne avec des options de livraison ou de retrait.
                                   

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>3. Services Proposés</h3>

                                <ul>
                                    RGM Food offre des services de restauration, incluant la vente de plats à consommer sur place, à emporter, ou en livraison. Les commandes peuvent être passées en personne, via WhatsApp ou à travers notre plateforme en ligne.
                                    
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>4. Accès et Utilisation des Services</h3>

                                <ul>
                                    
                                    Le client s'engage à fournir des informations exactes lors de la commande. L'utilisateur doit avoir au moins 18 ans ou être sous la supervision d'un adulte pour passer commande. L'accès à nos services peut être suspendu ou limité en cas de force majeure ou de maintenance.

                                </ul>
                            </div>
                        </div>


                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>5. Commandes et Paiement</h3>

                                <ul>
                                    Les prix affichés incluent toutes taxes applicables. Les commandes peuvent être passées sur place, par téléphone, par WhatsApp, ou via la plateforme en ligne. <br><br>
                                    
                                    Le paiement doit être effectué au moment de la commande. Les modes de paiement acceptés incluent le paiement en espèces, carte bancaire, Tmoney, Flooz et d'autres méthodes électroniques selon la disponibilité.

                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>6. Livraison et Retrait</h3>

                                <ul>
                                    Les délais de livraison sont indicatifs. RGM Food ne peut être tenu responsable des retards causés par des circonstances imprévues. <br> <br>
                                    Les frais de livraison sont calculés en fonction de la distance et seront clairement indiqués lors de la commande. <br> <br>
                                    Le client est responsable de vérifier les détails de sa commande avant de confirmer. RGM Food n’est pas responsable des erreurs de commande causées par des informations incorrectes fournies par le client.



                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>7. Politique de Réclamation et Remboursement</h3>

                                <ul>
                                    En cas d'insatisfaction, le client doit contacter RGM Food dans un délai de 2 heures après réception de la commande. Les remboursements ou compensations sont accordés au cas par cas après enquête sur la réclamation.

                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main privacy-text-main-two  ">
                            <div class="privacy-text-main-text">
                                <h3>8. Protection des Données Personnelles</h3>

                                <ul>
                                    RGM Food s'engage à protéger la confidentialité des informations personnelles fournies par les utilisateurs. Les données collectées sont utilisées uniquement pour le traitement des commandes et la communication avec les clients.
                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main privacy-text-main-two  ">
                            <div class="privacy-text-main-text">
                                <h3>9. Modification des CGU</h3>

                                <ul>
                                    RGM Food se réserve le droit de modifier ou de mettre à jour ces CGU à tout moment. Les utilisateurs seront informés de tout changement via les plateformes officielles de l'entreprise.
                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main privacy-text-main-two  ">
                            <div class="privacy-text-main-text">
                                <h3>10.	Droit Applicable et Litiges</h3>

                                <ul>
                                    Les présentes CGU sont soumises à la législation en vigueur au Togo. Tout litige relatif à leur interprétation ou à leur exécution sera soumis aux juridictions compétentes du Togo.
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Privacy & Policy end  -->



    </main>
{% endblock %}