{% extends 'about.html' %}
{% load static %}
{% block content %}


    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Politique de Confiance et Sécurité</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Politique de Confiance et Sécurité</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->

        <!-- Privacy & Policy start  -->


        <section class="privacy s-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        

                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>1. Engagement en matière de sécurité</h3>

                                <ul>
                                    Chez RGM Food, la sécurité de nos clients est notre priorité. Nous mettons en place des mesures pour garantir que chaque aspect de votre expérience, depuis la commande jusqu'à la livraison ou la consommation sur place, soit sécurisé et fiable. Cela inclut la sécurité alimentaire, la protection des données, et la sécurité de vos transactions. 
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>2. Sécurité Alimentaire</h3>

                                <ul>
                                    Nous respectons des normes strictes en matière de préparation et de manipulation des aliments:<br><br>
                                    <li>Hygiène et normes sanitaires: tous nos employés sont formés aux règles d'hygiène et aux meilleures pratiques de manipulation des aliments pour éviter toute contamination.</li>
                                    <li>Contrôle des ingrédients: Nous nous assurons que nos ingrédients proviennent de fournisseurs certifiés et sont manipulés de manière appropriée pour garantir leur fraîcheur et leur qualité.</li>
                                    <li>Vérification des plats: Avant de vous servir, nous vérifions chaque plat pour garantir qu'il répond à nos critères de qualité et de sécurité.</li>

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>3. Sécurité des Transactions</h3>

                                <ul>
                                   Vos informations financières et personnelles sont traitées avec le plus grand soin:<br><br>
                                    <li>Protection des paiements en ligne: Toutes les transactions effectuées via notre plateforme en ligne sont sécurisées à l'aide de technologies de cryptage avancées, garantissant que vos informations de carte bancaire ne sont ni accessibles ni stockées de manière non sécurisée.
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>4. Confidentialité des données</h3>

                                <ul>
                                        Les informations personnelles que vous fournissez lors de la commande sont protégées et ne seront jamais partagées avec des tiers non autorisés (voir notre Politique de Confidentialité pour plus de détails).

                                </ul>
                            </div>
                        </div>


                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>5. Sécurité en Livraison</h3>

                                <ul>
                                    Nous nous engageons à assurer la sécurité de votre commande depuis notre restaurant jusqu'à votre porte:<br><br>
                                    <li>Emballage sécurisé: Vos commandes sont soigneusement emballées pour éviter toute contamination pendant la livraison.</li>
                                    <li>Livraison fiable: Nous collaborons avec des livreurs formés à manipuler les repas de manière hygiénique et à respecter les délais de livraison pour que vous receviez votre commande dans des conditions optimales.</li>

                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>6. Fiabilité et Service Client</h3>

                                <ul>
                                    Nous nous engageons à offrir un service fiable et à répondre rapidement à toute préoccupation: <br> <br>
                                    <li><b>Satisfaction client:</b> Si un problème survient avec votre commande ou si vous avez des préoccupations, notre équipe est disponible pour vous assister rapidement.</li>

                                    <li><b>Réclamations: </b>En cas de problème, nous vous encourageons à nous contacter via les canaux officiels pour que nous puissions résoudre la situation de manière juste et transparente.</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>7. Conformité aux Lois</h3>

                                <ul>
                                    RGM Food respecte les réglementations locales en matière de sécurité alimentaire, de protection des consommateurs et de commerce électronique. Nous nous engageons à améliorer continuellement nos processus pour garantir que nos services restent conformes aux normes en vigueur.
                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>8. Formation Continue</h3>

                                <ul>
                                    Nos employés reçoivent une formation continue pour s'assurer qu'ils sont au courant des dernières pratiques en matière de sécurité alimentaire, de gestion des commandes et de service à la clientèle. Cela inclut des mises à jour régulières sur les nouvelles réglementations et innovations en matière de sécurité et de confiance.
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>9. Avis des clients/ Customer Feedback</h3>

                                <ul>
                                    La satisfaction et la sécurité de nos clients sont au cœur de nos préoccupations. Nous vous encourageons à partager vos retours d'expérience, que ce soit pour des améliorations ou des compliments. Votre feedback est précieux pour nous aider à maintenir un haut niveau de confiance et de sécurité. 
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>10.	Contact</h3>

                                <ul>
                                    Pour toute question concernant la sécurité ou la fiabilité de nos services, veuillez nous contacter:
                                    <li><b>Adresse:</b> RGM Food, Amadahome, en face de la Pharmacie Iris, Lomé, Togo</li>
                                    <li><b>Email: </b><a href="reception@rgmfood.com"> reception@rgmfood.com</a></li>
                                    <li><b>Appel direct:</b> + 228 71 78 66 66</li>
                                    <li><b>WhatsApp:</b>  + 228 71 78 66 66</li>







                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Privacy & Policy end  -->



    </main>

 {% endblock %}