{% extends 'about.html' %}
{% load static %}
{% block content %}


    <main>

        <!-- banner  -->

        <div class="inner-banner">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-12">
                        <div class="inner-banner-head">
                            <h1>Trust & Safety</h1>
                        </div>

                        <div class="inner-banner-item">
                            <div class="left">
                                <a href="{% url 'core:index' %}">Accueil</a>
                            </div>
                            <div class="icon">
                                <span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 7L14 12L10 17" stroke="#E5E6EB" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </div>
                            <div class="left">
                                <span>Privacy & Policy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner  -->

        <!-- Privacy & Policy start  -->


        <section class="privacy s-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="privacy-text">
                            <h4>At RerservQ, your safety and well-being are our top priorities. We have implemented a
                                range of measures to ensure a secure and enjoyable dining experience for all our guests.
                                Please read our Trust & Safety guidelines to understand the steps we take to create a
                                welcoming and secure environment.</h4>
                        </div>

                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>Health and Hygiene:</h3>

                                <ul>
                                    <li>We adhere to strict hygiene practices in accordance with local health guidelines
                                        to ensure the cleanliness of our premises, kitchen, and dining areas.</li>
                                    <li>Our staff is trained in proper sanitation and food handling procedures to
                                        prevent any contamination and maintain a safe dining environment.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>COVID-19 Precautions:</h3>

                                <ul>
                                    <li>We closely follow the guidance provided by health authorities to prevent the
                                        spread of COVID-19. This includes social distancing measures, mask mandates (if
                                        applicable), and regular sanitation of high-touch areas.</li>
                                    <li>Our staff undergoes regular health screenings and follows protocols in case of
                                        illness to ensure a safe environment for both guests and team members.
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>
                                    Secure Transactions: </h3>

                                <ul>
                                    <li>Our payment systems are secure, utilizing encryption and industry-standard
                                        security protocols to protect your financial information during transactions.
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="privacy-text-main">
                            <div class="privacy-text-main-text">
                                <h3>Personal Information Protection: </h3>

                                <ul>
                                    <li>
                                        We respect your privacy and take measures to secure your personal information.
                                        Your data is stored securely and used only for relevant purposes, such as
                                        reservations and communication.
                                    </li>

                                </ul>
                            </div>
                        </div>


                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Allergen Information: </h3>

                                <ul>
                                    <li>
                                        We understand the importance of providing accurate allergen information. Our
                                        staff is trained to address allergen-related concerns, and our menu highlights
                                        allergen information where applicable.</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Staff Training: </h3>

                                <ul>
                                    <li>

                                        Our team members undergo thorough training to ensure they provide a welcoming
                                        and safe atmosphere for all guests.</li>

                                    <li>We promote open communication, ensuring that you can voice any concerns
                                        regarding your dining experience.</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Emergency Preparedness: </h3>

                                <ul>
                                    <li>

                                        We have protocols in place to address various emergency situations, ensuring the
                                        safety of our guests and staff.</li>


                                </ul>
                            </div>
                        </div>

                        <div class="privacy-text-main  ">
                            <div class="privacy-text-main-text">
                                <h3>Feedback and Concerns: </h3>

                                <ul>
                                    <li>

                                        Your feedback is essential to us. If you have any concerns related to safety or
                                        your dining experience, please don't hesitate to reach out to our staff or
                                        management.
                                        Contact:
                                        If you have any questions or would like further information about our Trust &
                                        Safety measures, please contact us at [contact email/phone number].
                                        Please customize this Trust & Safety statement to reflect the specific practices
                                        and policies of your restaurant. It's recommended to seek legal advice to ensure
                                        compliance with relevant laws and regulations.</li>


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Privacy & Policy end  -->



    </main>

 {% endblock %}